body {
  background-color: rgb(20, 52, 59);
  color: white;
}
h1 {
  font-style: italic;
  text-decoration: underline solid rgb(100, 190, 52);
  text-align: center;
}
article {
  background-color: rgb(12, 107, 114);
  padding: 15px;
  margin: 25px;
  border-radius: 10px;
  border: 3px solid rgb(100, 190, 52);
}
